body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 62.5%;
}

.header-container {
    background-color: blue;
    height: 100px;
}

.main-container img{
    width: 100vw;
    margin-bottom: 30px;
}
