body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 62.5%;
    background-color: #F0E7EC;
}

.header-container {
    background-color: #173863;
    background: #314755;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height: 130px;
}
.logo {
    background-image: url(/assets/logo.jpg);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 146px;
    top: 12px;
    border-radius: 50%;
    -webkit-box-shadow: 0px -2px 33px 6px rgba(255,255,255,1);
    -moz-box-shadow: 0px -2px 33px 6px rgba(255,255,255,1);
    box-shadow: 0px -2px 33px 6px rgba(255,255,255,1);  
    
}

.wp-link {
    text-decoration: none;
    color: green;
}
.wp-link i {
    margin-right: 5px;
}
.main-container img{
    width: 100%;
    margin-bottom: 10px;
}
.main-container {
    width: 100%;   
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
}
.btn-submit {
    align-self: center;
    width: 150px;
    height: 40px;
}
.cel-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #141414;
}
.contact-info {
    margin-left: 8px;
    margin-top: 15px;
}
.mi-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    font-size: 1.1rem;
    justify-content: space-around;
    align-items: center;
}

/*Media Querys*/

@media screen and (min-width: 768px) {
    .carousel {
        width: 50%;
        height: 50%;
    }
    .main-container {
        display: flex;
    }
    .main-container img {
        margin-bottom: 0;
    }
    .form-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .mi-footer {
        flex-direction: row;
    }
}